[2011-07-07 05:35] codeprogression opened #1 "Need indication of request in progress"
Please add a request-in-progress indication (busy indicator).  When I submit a GET, POST, etc., if the response is not immediate, then I have no immediate indication that the request was submitted.

 A busy indicator, disabling the submit buttons, and adding a cancel button would be great.

Thanks!

[2011-07-07 05:39] ahmadnassri commented on #1
Agreed, this is a subtle, yet important feature ...

[2011-07-23 20:19] ahmadnassri opened #2 "Request History"
allow to store and revisit previous requests along with custom parameters and headers header.

[2011-07-23 20:20] ahmadnassri opened #3 "Clickable resources"
for example:
I just want click to a link in a ressource

<element ref="http//context/subresource">
<child ref="http://...">yadda yadda</...
...
</element>

[2011-07-23 20:20] ahmadnassri opened #4 "wadl support"

[2011-07-23 20:23] ahmadnassri opened #5 "Hide Password"
I would like to see the password field under the Autorization tab as a real password field and not plain text.

[2011-07-23 20:24] ahmadnassri opened #6 "separate values in the Authorization header for Oauth request"
What steps will reproduce the problem?
1. Set target as GET https://api.dropbox.com/0/oauth/request_token (See screenshot)
2. On the Authorization section enter a consumer key
3. On the Authorization section enter a consumer secret
4. Hit 'Send'
5. Response fails with 403. "{"error": "Parameter not found: oauth_consumer_key"}" even though the "oauth_consumer_key" is specified.

What is the expecte

[2011-07-23 20:25] ahmadnassri opened #7 "If user-defined request parameter is multi-valued, only last param value sent"
What steps will reproduce the problem?
1. For Request Params (Body tab), define:
hobby -> tennis
hobby -> cooking
For real, this would be the result of submitting a form with a multiple-selection listbox (for hobbies in this case).
2. Click on GET button to send request.
3. Look at Response tab for what happened.

What is the expected output?
In the "Sent Request" textbox, I should see
Request URL

[2011-07-23 20:26] ahmadnassri opened #8 "Generate Access tokens from request"
While Twitter generates and Access Token, must OAuth 1.0a do not. It would be great if I could enter the request, Access & Authorize urls and the Tokens get generated.

[2011-07-23 20:27] ahmadnassri opened #9 "A tools tab with common operations available?"
What would be really cool would be to have a tools tab with a set of commonly used utilities when using HTTP type resources. Examples of this would be base64 encode/decode, url encode/decode, XML escape/un-escape and UUID generation.

RESTful APIs often require data to be passed in like this so it would be nice to be able to do this sort of thing from within the console interface.

Not sure if thi

[2011-07-23 20:29] ahmadnassri opened #10 "oauth_callback in "Authorization" section"
I'd like the ability to be able to set the OAuth callback when using an API which authorizes through OAuth.
Many APIs require it, so it would be useful.

[2011-07-23 20:30] ahmadnassri opened #11 "More status indication during connection/post/wait phase"
If a url is entered that contains an incorrect port number (e.g. blocked by firewall) then there is no indication that a connection attempt is being made when the Send button is pushed.

Even something as simple as a watch cursor to give some feedback would help. But better would be some sort of status indicator that moved through various phases (e.g. name resolution, connection setup, data send,

[2011-07-23 20:30] ahmadnassri opened #12 "'Save Defaults' does not store custom headers"
What steps will reproduce the problem?
1. Enter a custom header. (e.g. 'API-Version' - '1.0')
2. Make some requests to see that it went through.
3. Click the 'Save Defaults' button.
4. Restart the browser, open REST Console.
5. The custom headers has disappeared.

What version of the product are you using? On what operating system?
REST Console 3.0.5, Win7 64b, Chrome 13.0.782.55 beta-m

[2011-07-23 20:40] ahmadnassri opened #13 "HTML View"
it would be great if when the response body is html that you could have the option to render the view, rather than syntax highlighting. Reason being that when the server throws an unexpected error the message returned is harder to understand, and we don't erally care abou the code just the message.

[2011-07-25 19:42] honza opened #14 "Crashes Dev Channel"
Every single time. Let me know if I can help.

[2011-07-25 20:22] ahmadnassri commented on #14
you mean chromium dev channel? can you provide me with any debugging data?

[2011-07-25 22:53] honza commented on #14
Yes, Google Chrome Dev Channel. Here's the crash log?

[code]

Path:            /Applications/Google Chrome.app/Contents/MacOS/Google Chrome
Identifier:      com.google.Chrome
Version:         14.0.825.0 (825.0)
Code Type:       X86 (Native)
Parent Process:  launchd [182]

Date/Time:       2011-07-25 19:51:47.992 -0300
OS Version:      Mac OS X 10.6.7 (10J3331a)
Report Version:  6
Sleep/Wake UUID:

[2011-07-25 22:55] honza commented on #14
Here is the build number: 14.0.825.0. It's on a Mac. It installs fine, but when I click the button, it crashes.

[2011-07-26 03:54] ahmadnassri commented on #14
Thanks for that, I'll have to spend some time with this log, get real intimate and see if I can replicate it, are you installing the extension or the app version?

[2011-07-26 09:51] honza commented on #14
Well, good luck. It's the extension version.

[2011-07-27 10:34] honza commented on #14
The most recent build (835) fixes this. Thanks

[2011-07-27 10:34] #14 closed, assigned to ahmadnassri

[2011-07-27 14:25] ahmadnassri commented on #14
good to know, I'm still gonna try to see if the previous build crashes because of anything I did...

[2011-08-03 11:48] ka2er commented on #2
will be very great !!

[2011-08-08 20:33] JessieAMorris opened #16 "Allow for Cookies to be set"
I cannot find an (easy) method to set custom cookies. A set up similar to the form values fields would be nice, where a key and a value are submitted and the correct string is placed in the headers.

[2011-08-08 23:22] ahmadnassri commented on #16
agreed, I don't use cookies that much, but this is definitely needed. how could I have missed it!

thanks, will add to next release.

[2011-08-10 12:17] crocodile commented on #6
Still an issue in 3.0.7.

[2011-08-10 16:42] dkotvan opened #17 "Support for digest authentication"
Hi,

It would be very nice to have digest authentication on the client too. I need to test a few services that uses this kind of authentication.

Thanks

[2011-08-10 16:44] ahmadnassri commented on #17
agreed, I've been working on adding that.

[2011-08-12 15:29] jakelandis opened #18 "OAuth Authorization - PLAINTEXT not honored"
When using OAuth Authorization,  and selecting Signature Method: PLAINTEXT, the request is actually signed as HMAC-SHA1 (oauth_signature_method="HMAC-SHA1").

v3.0.7 in Chrome 14.0.835.35 dev

[2011-08-18 08:10] CarlLee opened #19 "Implement XML and JSON formatter"
Please implement XML and JSON formatter, this will make your tool more useful

[2011-08-23 20:13] ahmadnassri commented on #19
if by formatting you mean syntax highlighting then that's already implemented, as well as text formatting (spacing, line breaks etc ...) but it depends on the response content type header, it could be that you are not receiving a proper response header, or that I've not included all the possible headers for XML/JSON ...

can you tell me what the response headers are that you are receiving? along w

[2011-08-23 20:13] ahmadnassri commented on #18
will be fixed in next release.

[2011-08-24 07:27] CarlLee commented on #19
Thank you, I've found my problem, my response Content-Type is text/html instead of application/json

[2011-08-24 07:27] #19 closed, assigned to ahmadnassri

[2011-08-24 20:27] ahmadnassri commented on #19
great :)

[2011-08-27 20:00] phpwalter opened #20 "UI suggestions..."
not an issue, but UI suggestion.

Can the scroll bar be a bit more prominent? They are a bit subtle.

The "forms" for each section of this great extension takes up quite a bit of space about the RESPONSE. I'm not sure the repeating of the section titles on the right side server a real purpose. takes up a lot of real-estate.

It would make the right panel much easier to read of these section title

[2011-08-27 20:03] phpwalter commented on #13
It would be nice if RESPONSE BODY had 2 TABS on it:
- RAW View
- RENDERED View

It would default to RAW View and than I could switch to rendered if I choose.

But this means that RENDER needs to PRETTY print XML and JSON! ;)

[2011-08-27 20:07] phpwalter commented on #5
I don't agree. This is a development phase tool. I should not be using sensitive passwords. If others insist on PASSWORD (astrick) type display, than may I suggest a check box that allows me to turn on and off this "feature".

I find PASSWORD fields not easy to work with. Can't tell you how many times that a fat fingered password, entered into a PASSWORD type field, has proved to be the problem I'

[2011-08-28 19:58] ahmadnassri commented on #5
That's how I was going to implement it actually, it should be an option, not one way or another.

[2011-08-28 20:00] ahmadnassri commented on #13
agreed. I'm even thinking of 3 tabs:
RAW, RENDERED, and Pretty (should come up with good name for it)

where RAW is the response as is.
RENDERED is a rendered view ex: HTML, Images, etc ...
PRETTY would be the syntax highlighted view of the HTML/XML/JSON/etc ...

[2011-08-28 20:01] ahmadnassri commented on #20
agreed, I'm doing a complete UI revamp to save up on space and use it more efficiently.

[2011-08-29 21:33] phpwalter commented on #20
ok, thanks

[2011-08-29 21:33] #20 closed, assigned to ahmadnassri

[2011-08-29 21:34] phpwalter commented on #13
oh, much better. thank you

[2011-08-29 21:34] phpwalter commented on #5
great, thank you

[2011-09-01 18:37] ecammit commented on #17
Seconded

[2011-09-05 16:24] ahmadnassri opened #21 "Follow Redirects"
should be able to customize if redirects are to be followed and set the limit of redirects to follow

[2011-09-07 03:27] spangborn opened #22 "Support XAuth (Client OAuth)"
It'd be awesome if the rest-console would allow you to use xAuth (Twitter's) with OAuth. https://dev.twitter.com/docs/oauth/xauth

[2011-09-07 14:04] ahmadnassri commented on #22
its not a standard, only a twitter thing, but will add to the next release!

[2011-09-10 17:04] art-shen opened #23 "Can not set Referer header in "Custom headers""
subject

[2011-09-10 17:22] art-shen opened #24 "Incorrect variables encoding in application/x-www-form-urlencoded POST request."
**Example:**
Амаль

**Result:**
\u0410\u043c\u0430\u043b\u044c

**Expected:**
%D0%90%D0%BC%D0%B0%D0%BB%D1%8C

need to urlencode

[2011-09-13 15:30] ahmadnassri commented on #24
interesting, I may need your help to further test this on the next release ..

[2011-09-13 15:32] ahmadnassri commented on #23
I believe this is a limitation in the Chrome SDK, just as we cannot set the User-Agent string ...

HOWEVER!
I'm working on a solution.

[2011-09-13 15:55] a-krivolapov-parc commented on #23
I don't know about extensions, but Chrome applications can set Referer header.
Seen in the Advanced Rest Client Application.

[2011-09-13 15:55] ahmadnassri commented on #23
I'll double check ..

[2011-09-13 15:56] a-krivolapov-parc commented on #24
Ok, I'll be glad to help

[2011-09-13 19:06] pax95 commented on #4
Yep - would be nice.

[2011-09-19 21:34] croach commented on #13
Definitely agree with this suggestion. I develop in Django and being able to see the rendered HTML is so helpful when an error occurs. This is the one feature that keeps me going back to REST Client for Firefox. I really hope you can add this feature.

Thanks a bunch for all your work.

[2011-09-20 03:54] ahmadnassri commented on #13
thanks for the feedback @croach ... new release coming very soon that will have this.

[2011-09-21 03:36] croach commented on #13
Excellent! Really looking forward to the new release. Thanks.

[2011-09-26 06:33] ahmadnassri commented on #23
I just confirmed, the Referer header CANNOT be set according to W3C specification (http://www.w3.org/TR/XMLHttpRequest/#the-setrequestheader-method)

even in the application you mentioned, it is not allowed.

however, I have a SaaS based version of REST Console coming soon, that will allow you to set all the headers as it proxies all the requests through a server for maximum customization.

[2011-09-26 06:33] #23 closed, assigned to ahmadnassri

[2011-09-26 07:07] ahmadnassri commented on #21
this doesn't seem to be doable in JS / Chrome at the moment, so deferring to hosted version.

[2011-09-27 02:19] #1 closed, assigned to ahmadnassri

[2011-09-27 02:19] #8 closed, assigned to ahmadnassri

[2011-09-27 02:19] #11 closed, assigned to ahmadnassri

[2011-09-27 02:19] #12 closed, assigned to ahmadnassri

[2011-09-27 02:19] #13 closed, assigned to ahmadnassri

[2011-09-27 02:21] ahmadnassri commented on #20
new interface is now in github, will compile and release a new version once all the bugs have been cleared, in the meantime, feel free to download from github and and play with the new interface.

[2011-09-27 12:47] art-shen opened #26 "URL without protocol is not valid"
An error that the URL is not valid when trying to send a request to "example.com".
May be better to just automatically add the "http://" if protocol is not specified in the url.

[2011-09-27 12:53] art-shen opened #27 "Can't stop failed request in REST Console v.4.0.0"
Request failed with connection error (non-existent domain).
Error message is displayed, but the progress bar and stop button do not disappear.
Pressing the stop does nothing.

[2011-09-27 13:03] art-shen opened #28 "Ability to manually specify the content-type of response."
In some cases, have to work with servers who send incorrect header Content-Type. For example received JSON, but Content-Type - text/html. For such cases, it would be useful to override the data type manually.
Especially useful would be that this could be changed after receiving the response. For example you see that type incorrectly recognized, and change it.

[2011-09-27 13:34] art-shen opened #29 "User interface feedback"
Change the theme for the syntax highlighting is a very cool feature.
But we have to always scroll up and down, to see how the theme looks.
Perhaps the choice of theme for syntax highlighting should be near query result.
The option "Hide line numbers" then could be moved down too. With these changes Options part would be much smaller =)

Overall a very nice interface, but the Request part takes up

[2011-09-27 13:38] art-shen opened #30 "Selected Response tab is reset when you send a new request"
For example, I was selected tab "Request Headers". When I post a new query selection is reset to "Response Body".

[2011-09-27 15:46] ahmadnassri commented on #28
I like it, will add it to the next release.

[2011-09-27 15:47] ahmadnassri commented on #27
oooh, I missed that one ...
thanks for being so thorough in your testing!

[2011-09-27 15:48] ahmadnassri commented on #26
agreed.

[2011-09-27 15:52] ahmadnassri commented on #30
I figured it should reset to the response body ...
I can make this an option :)

[2011-09-27 15:54] ahmadnassri commented on #29
hiding the interface was an issue before in previous versions, some people didn't like it, some did ...

with this redesign, its possible to do both, I'll add an option that allows you to toggle between both views ...

[2011-09-27 16:18] ahmadnassri commented on #26
here's an interesting related question ...

what other uri schmes are valid in JavaScript / XMLHTTPRequest ... ?

just wondering if its just http/https ... (thinking out loud)

[2011-09-27 16:27] ahmadnassri commented on #26
according to a quick google search, XMLHTTPRequest only supports http/https ... I could be wrong but for now I'm limiting it to those two.

[2011-09-27 16:28] #27 closed, assigned to nobody

[2011-09-27 16:28] #26 closed, assigned to nobody

[2011-09-27 17:59] art-shen commented on #30
Yes, it would be nice)

[2011-09-28 00:21] #24 closed, assigned to ahmadnassri

[2011-09-28 00:21] #28 closed, assigned to nobody

[2011-09-28 00:21] #30 closed, assigned to nobody

[2011-09-28 00:48] ahmadnassri commented on #17
Guys, I've never used digest auth before, is there a quick and easy way to test a server side implementation of it?
can you point me to some service already out there that uses it so I can test against?

thanks.

[2011-09-28 00:54] ahmadnassri commented on #16
It turns out the "Cookie" header is forbidden to set in an XMLHTTPRequest according to the specs: http://www.w3.org/TR/XMLHttpRequest/

so I cannot add this to the Chrome extension, but I will add this feature to the hosted version of REST Console ...

[2011-09-28 01:11] #18 closed, assigned to ahmadnassri

[2011-09-29 04:32] ahmadnassri opened #31 "Add support for importing & exporting .HAR (Http ARchive) files"
idea came from from from the store comments.

[2011-09-29 09:48] bclozel opened #32 "explain permissions requested by app"
Could you explain why this application requests those permissions?
- Your data on all websites (medium alert)
- Your tabs and browsing activity (low alert)

A short word on the chrome webstore description page should be great!

[2011-09-29 10:22] antelle opened #33 "Support Referer header"
Currently Referer header is not supported.
This makes this extension totally useless for some websites.
If this header is added as a custom one, it's omitted.

And yeah, I understand that it's not too easy, to add it because of security limitations.

[2011-09-29 14:33] elbowich opened #34 "Absolute positioning of autocomplete suggestion"
Hiding help lines results in dropdown select of request method being misplaced.

[2011-09-29 16:07] ahmadnassri commented on #32
this is a question asked by everybody using chrome apps, and a pain for everybody building them.

I'll start with the easiest one:
- **Your tabs and browsing activity**
  - Google explanation: Required if the extension uses the chrome.tabs or chrome.windows module.
  - What we use it for: the only access to tabs we need is for launching the oAuth Authorization page to the 3rd party oAuth provider.

[2011-09-29 16:11] ahmadnassri commented on #33
unfortunately, its not a question of easy or not, its impossible to send the header in a JavaScript application, according to the [W3C spec](http://www.w3.org/TR/XMLHttpRequest/) so unless they come up with a new spec that Chrome implements, or for Chrome to provide a special Request API, there is nothing we can do.

that said, we are working on a proxy service that will open up a lot of possibili

[2011-09-29 16:12] #33 closed, assigned to nobody

[2011-09-29 16:13] ahmadnassri commented on #34
sorry about that, should have tested more thoroughly, I just noticed it this morning too.

will release a new build with this fix and a few small others later today.

thanks.

[2011-09-29 16:16] ahmadnassri commented on #6
this is fixed in the latest version (4.0.0)

[2011-09-29 16:16] #6 closed, assigned to ahmadnassri

[2011-09-29 16:29] bclozel commented on #32
I know rest-console targets developers, and as a developer myself I'm more than enclined to check out the code.
But I've come across several weird permission changes and [strange behaviors](http://www.seroundtable.com/google-amazon-treatment-13881.html) in chrome apps.

I think this description fits well and should definitely be posted on the webstore, especially if you plan to change permissions

[2011-09-29 16:57] WanaByte opened #35 "On multiple OAuth 1.0 requests, nonce & timestamp are reused"
In version 4.0.1, when signing a request with OAuth, the same nonce is reused for each request.

The nonce and timestamp are used for every request, unless the user specifically pops open the "oAuth" dialog box and clicks "insert". This makes it difficult to perform multiple requests in succession. Please enable a checkbox to allow for automatic timestamp and nonce generation, or an "update nonce"

[2011-09-29 17:33] ahmadnassri commented on #32
I've changed the permissions for the "extension" as I completely changed the whole of it to become a launcher for the "App"
I don't think I'll ever change permissions for the App, unless google comes up with a new API or some better permissions for the App's purpose ...

I will post this description to the store right now.

thanks for your feedback.

[2011-09-29 17:33] #32 closed, assigned to ahmadnassri

[2011-09-29 17:44] ahmadnassri opened #36 "send binary file as raw body"
request from from the store comments.

[2011-09-29 17:44] ahmadnassri opened #37 "allow to save multiple configurations"
request from the chrome store.

[2011-09-29 17:45] ahmadnassri opened #38 "allow to set multiple different key name for each attachement"
request from the chrome store.

[2011-09-29 17:47] ahmadnassri opened #39 "browser history integration"
request from the chrome web store.

[2011-09-29 17:47] ahmadnassri opened #40 "Responses don't include xmlns attributes"
issue from the chrome web store.

[2011-09-29 17:48] ahmadnassri opened #41 "Clickable links in the response body"
only links that start with http:// https:// otherwise there is no easy way to figure out which text to make into a link

[2011-09-29 17:50] ahmadnassri opened #42 "Content-Type header is sent even though you're doing a GET"
request from the chrome web store.

[2011-09-29 18:00] ahmadnassri commented on #35
good point, I will add that for sure in the next release today.

[2011-09-29 21:21] ibips commented on #34
In oAuth dialog box, when you focus the Version field, the autocomplete appear in the middle of the dialog box. This maybe related to this absolute positioning issue.

[2011-09-29 21:24] ibips commented on #29
I second the motion about having to scroll the page in this version. It would be awesome to have both choice of "tabbed"(sectional) view like v.3 and the all in the page.

[2011-09-29 21:34] ahmadnassri commented on #34
@ibips yes it is, I've implemented a fix, should be on the web store before the end of day.

[2011-09-29 21:36] #34 closed, assigned to ahmadnassri

[2011-09-29 21:36] #41 closed, assigned to ahmadnassri

[2011-09-29 22:08] #10 closed, assigned to ahmadnassri

[2011-09-29 22:08] #35 closed, assigned to ahmadnassri

[2011-09-29 23:02] #3 closed, assigned to ahmadnassri

[2011-09-30 01:07] #29 closed, assigned to ahmadnassri

[2011-09-30 08:57] evertharmeling opened #43 "Request Payload parameters are gone in request."
When I'm using the 'Request Payload parameters' they aren't available in my request to my API.

When performing a POST, my $_POST is totally empty? Also tried the RAW Body Request Payload that gives the same result. Custom Headers are working all right though.
I tried the exact same request with Rest Console 3.0.7 and that's working properly.

I'm using Chrome Rest Console 4.0.2 (the latest versio

[2011-09-30 09:59] ilbalta commented on #43
Same here, latest version 4.0.1 under Ubuntu 10.10 seems unable to properly make a post request, my $_POST is always empty!

Here's an example, this is the request as seen in the "Request Body":
"
Request Url: http://www.mytesturl.com/login.php
Request Method: POST
Status Code: 200
Params: {
    "pwd": "pwd",
    "user": "user"
}
"

On login.php the only thing I do is a var dump of $_POST and resu

[2011-09-30 13:44] crocodile commented on #2
agree,great idea, this will make it complete for me!!

[2011-09-30 15:24] WanaByte commented on #43
I'm also having this problem. A workaround is to check the box for "Raw Payload" and leave it empty, and add the query parameters in the key:value pair input boxes under "Request Parameters" This seems to add the query string back in.

[2011-09-30 15:35] ilbalta commented on #43
The trick is not working for me, maybe I got it wrong.
I am doing:
RequestPayload

Still nothing is received :(

[2011-09-30 15:54] ahmadnassri commented on #43
are you guys setting the proper Request Content-Type headers? PHP will not read the request payload or raw body unless the proper headers are set!

[2011-09-30 18:08] WanaByte commented on #43
Looking at the interface, no. I had the box checked, but didn't realize that after checking, I still had to specify a Content-Type header since the textbox didn't clear.

This works a little differently from the 3.x version, where checking the box defaulted to 'application/x-www-form-urlencoded'. Perhaps a little UI hinting by clearing the textbox when you activate the checkbox could make it more

[2011-09-30 19:49] evertharmeling commented on #43
KyleWpppd' workaround works for me, It doesn't matter if you set the (Request) Target Content Type for me.
If it does needs to be set nevertheless, then probably as KyleWpppd suggested it would be better to UI hint it or set a default value.

[2011-09-30 22:50] ahmadnassri commented on #43
well the content-type header has to be set to `application/x-www-form-urlencoded` for PHP to read the POST variables, however that's not necessary how the HTTP Spec works, the data can still be sent regardless of the header, so I left it open to the developer to decide.

I could make it automatically default to `application/x-www-form-urlencoded` for sure, and that would help, but I figured it was

[2011-10-01 10:51] evertharmeling commented on #43
@ahmadnassri setting the Body > Content Headers > Content-Type to <em>application/x-www-form-urlencoded</em> does indeed the job!
The thing probably is that developers want things to work out of the box, since 3.0.7 did that ppl expect it worked that standard in the new version. Maybe some hightlighting of fields that are 'mandatory' / 'worth keeping an eye on' could simplify it that, or maybe eve

[2011-10-01 10:51] #43 closed, assigned to nobody

[2011-10-01 11:08] ilbalta commented on #43
Thank you very much!!
I really think a hint could help, not professional (or simply not expert or just very very tired :P) developers would for sure appreciate it.

[2011-10-02 18:05] ahmadnassri commented on #43
@evertharmeling yep, I see your point, I was following the W3C specs, its not really required to set the content-type header ... and it doesn't have to be www-form to send a post payload either ... so I was being loose, however next release, I will pre-populate that field since 99% of the cases will be using that ...

[2011-10-05 07:01] webron opened #44 "Slow parsing of large JSON docs"
Using the rest client to perform a GET operation that returns a large JSON, the console gets stuck for quite a few good seconds (sometimes it never gets unstuck).

Performing the same operation on a 'regular' browser window (simple, since this is a GET operation), the browser performs it and shows the result in less than a second.

Unfortunately, I can't provide you with a sample JSON document sin

[2011-10-05 15:55] WanaByte opened #45 "Request parameters end up in oauth 'Authorization' header."
I'm finding that adding a "limit" request parameter means that limit parameter is ending up in the 'Authorization' header.

This is using Rest Console, 4.0.2. I've included the raw request from the Chrome inspector (and removed my oAuth keys).

[code]

[2011-10-05 20:46] gabehayes opened #47 "Parameters are not being sent when executing POST"
This seems odd, but I can't seem to figure out what's happening.  I know it's not my code, because the API is still functioning normally when sending requests with both Authorization header and as Querystring.

When sending the request as a GET using Authorization header, all parameters are collected:

<pre>
object(sfParameterHolder)#31 (1) {
  ["parameters":protected]=>
  array(10) {
    ["userna

[2011-10-06 03:31] ahmadnassri commented on #47
the request payload **IS** being posted, but you are not setting the Body's `Content-Type` header ... or you are setting the wrong `Content-Type` header.

(I'm almost 99.9% certain this is the issue since I've been asked this all week, plz stop reading if that's not the case and let me know otherwise)

PHP (and other languages) expects the `Content-Type` header to be set to `application/x-www-form

[2011-10-06 03:31] #47 closed, assigned to ahmadnassri

[2011-10-06 05:59] ahmadnassri commented on #45
yeah the oAuth JS library I'm using is terrible, but its the only one out there, its actually used in production by some big systems ... but its not that great, missing a lot of the most recent oAuth revisions, and does what you see there, includes the request parameters in the signed header ...

I have to write my own library, hopefully incorporating the most recent oAuth 1.0a revisions and oAuth

[2011-10-06 05:59] ahmadnassri commented on #45
btw, its not just the limit parameter, its all request parameters that end up in the header, correct?

[2011-10-06 12:57] ghost opened #48 "Target should be the only section open by default"
When opening the new REST Console it is overwhelming.  And really the only thing I need on a regular basis is the target and the response.  So I'm suggesting to have all of the other sections minimized by default, like the old version.  I know I have a few co-workers that have moved on to a different app just because of that.

[2011-10-06 14:47] WanaByte commented on #45
Correct, it looks like it's all parameters if they into the request parameters section. I haven't tried the raw body.

Our OAuth implementation throws away any values it doesn't like, so it's not breaking anything on my end.

I'm wondering if it's ending up in the OAuth string, since some part of OAuth requires you to sort the parameters and take a hash of them for calculating the signature or non

[2011-10-06 16:09] ahmadnassri commented on #45
Well, the way I understand it, oAuth does require the parameters to create the signature string, but i think it was in a previous version of the spec that those parameters are also to be passed in the header, I think that's gone in 1.0a but the javascript library I'm using doesn't seem to know that...

Like I said, I'm gonna have to write up a JavaScript oAuth library myself.

[2011-10-06 23:41] gabehayes commented on #47
That definitely did the trick...sorry for the troubles

[2011-10-06 23:56] ahmadnassri commented on #48
lets win back the hearts and minds of those co-workers of yours!

I think a middle ground is needed ... some people want it all, some want none, so perhaps I will make this optional and allow to switch between two UI views ...

[2011-10-10 08:54] vmgupta10gh opened #49 "version 4.0.2 unfortunately is not as usable as the previous"
- 4.0.2 requires more scrolling
- 4.0.2 does not support "tabbing" into the next field as all fields are locked by default
- need an option to hide unnecessary fields (there already is an option for this but not substantial) - i usually use only a few but still have to scroll up and down several times
- inspecting the response also requires more clicks - need to click for response body, need click

[2011-10-10 14:18] ahmadnassri commented on #49
Thanks for the feedback!

I'd start by saying the reason I changed the design is to make it more adaptive and be able to add more of the planned features that the old design was limiting. it has little to do with "good looking" or not, this time around I used Twitter's Bootstrap framework, which made it look pretty, but that wasn't my main intention ...

I agree with you, I hate scrolling, and I d

[2011-10-10 16:23] buholzer commented on #2
+1 would love this feature!

[2011-10-10 23:14] mrpoundsign opened #50 "Ability to save multiple requests"
One feature that is highly desirable for me is to be able to save and load a particular request. I have many REST requests I need to debug fairly regularly.

This is a beautiful console, and I love all the options. The one thing I am missing is the ability to save a request for future reference. I was using the Advanced REST Client (http://code.google.com/p/chrome-rest-client/) but it seems to be

[2011-10-11 04:39] ahmadnassri commented on #50
Agreed.

I'm struggling which feature to build first: Request History vs Saved Requests, since they are both very similar (coding wise) ...

[2011-10-11 11:48] ghost opened #51 "can't fetch raw body from request"
Hi, I'm testing the restful service built with zend using rest-console. I have set the GET Request Payload - Raw Body as something like '{"locationId":"33","limit":"5","offset":"0"}', I have set content type for Accept and Content Headers to 'application/json'. But when I fetch the request body in Zend using '$payload = $this->getRequest()->getRawBody();', it return null. Please help. Thank you in

[2011-10-11 15:35] mrpoundsign commented on #50
I personally feel that saving is a better option. I may be testing and changing my requests as I develop, and when I am done I want to save but I may not care about every request I make (as many may be essentially wrong).

Also as I am developing interfaces to other services, I need to manually form REST requests until I have the time to develop the feature and use the other REST client to do oper

[2011-10-11 17:53] ghost commented on #51
when I print out the `$this->getRequest();`, it's like below:

[code]

The '_rawBody' field is null. However, I have tested it from command line using

[code]

and it return data correctly. Why is it like this. Please help. :'(

[2011-10-12 16:33] nadavoid commented on #50
I would vote for adding Saved Requests first. The main way I would see this differing from history is that some things may need placeholders instead of real data. History would contain real data. Placeholders could be used as part of a URL or the value of a parameter, or a portion of the RAW body.

The way I would see Request History working would be like this: every time I submit a request, the d

[2011-10-12 17:16] ahmadnassri commented on #50
@nadavoid I think you nailed it on the head in terms of the differences between the two ... I think that's the way I will move forward with this.

@mrpoundsign the URL thing is an interesting one, and I have thought about it, but Chrome doesn't show the URLs apps (or at least mine doesn't, does it show on yours?)

but that got me thinking, I can do a an omnibox (the URL field in chrome) integratio

[2011-10-12 17:23] nadavoid commented on #50
Love the idea of omnibox integration. (never knew that was called an "omnibox") That would provide a smooth transition in my existing workflow, which does start with simple GET requests, and I currently do just start by entering a URL in the browser.

I don't see any immediate need for right-click integration on links, but could be handy when looking at WADL documentation. I'd see that as a separa

[2011-10-12 17:25] ahmadnassri commented on #51
I suspect this is a issue on the server side, not in REST Console, to quickly confirm, just check your Chrome Developer Tools and look under Network -> XHR to see what's actually being sent.

from my experience with Zend/PHP you gotta be careful with using the `getRawBody()` call since it basically just calls: `file_get_contents('php://input')` which can only be done once, if you do it twice, you

[2011-10-12 17:49] ahmadnassri commented on #51
also, on a separate note, checkout PHP's [HTTP extension](http://php.net/manual/en/book.http.php), it made my life so much easier in managing HTTP requests:

[2011-10-12 18:46] ghost commented on #51
Hi, thank you for the reply. Below is the request I got from the XHR, I don't see the request body.

[code]

However, when I make the POST request, I can get the Request Payload:

[code]

Does it mean anything? By the way, the request from command works fine, so I guess the code works fine. Also, I have only one place in the controller action that invoke getRawBody().
Thanks.

[2011-10-12 19:00] ahmadnassri commented on #51
Yes, you cannot send a request payload with a GET request ... Only POST, PUT, DELETE and few others ...

Refer to [RFC 2616](http://www.ietf.org/rfc/rfc2616.txt)

[2011-10-12 19:17] mrpoundsign commented on #50
I wonder if it could be done from the development console "network" list so
you can grab an existing request and turn it into a rest client window.

On Wed, Oct 12, 2011 at 10:23 AM, David Lanier <
reply@reply.github.com>wrote:

##

Brian Nelson

[2011-10-12 19:28] ahmadnassri commented on #50
@mrpoundsign funny you said that, Google just recently announced the ability to make extensions within the Development Console, so one can extend the functionality ... its still under the experimental APIs and I've been playing with it, its pretty cool, but unfortunately it has to be a separate app/extension ... but that is not a big deal.

so yes, once that feature goes out of experiments, I'll b

[2011-10-12 19:35] ahmadnassri commented on #51
just to clarify, does it work with POST?

[2011-10-12 19:48] ghost commented on #51
Yes, the POST works fine. But I'm wondering why the command woks even if it's GET request:

[code]

So I should parse the payload like `http://localhost/api/review?payload={\"locationId\":\"33\",\"limit\":\"5\",\"offset\":\"0\"}` for GET request and parse raw body only for POST, PUT, DELETE requests?

What if I also use `http://localhost/api/review?payload={...}` for POST, PUT and DELETE without p

[2011-10-12 20:36] ahmadnassri commented on #51
it isn't explicitly forbidden to send a body payload with GET as per the HTTP specification, when you are doing it in curl, you're basically forcing whatever you want on the server.

so while you can do that, I would suggest avoiding it simply because people (and machines) don't expect expect that.

There are many phases in an HTTP request chain and while they "mostly" conform to the HTTP spec, th

[2011-10-12 20:41] ahmadnassri commented on #51
further to my point about "what people and machines expect" there is an un-spoken tradition of just following what a browser would do in building HTTP libraries ...

so always think: "What would a browser do?" (WWBD) ... or better yet, "What would Chrome Do?" (WWCD)

:)

[2011-10-12 20:47] ghost commented on #51
Thank you very much. For the GET request, I meant http://localhost/api/review?filter={\"locationId\":\"33\",\"limit\":\"5\",\"offset\":\"0\"}

[2011-10-12 20:47] #51 closed, assigned to ahmadnassri

[2011-11-01 06:35] churixho opened #53 "OAuth header"
The key values pairs in the OAuth header should be comma-separated

[2011-11-01 06:39] #53 closed, assigned to nobody

[2011-11-01 17:43] ahmadnassri commented on #53
you can set the separators in the oAuth dialog ...

[2011-11-02 02:05] churixho commented on #53
Ya, I closed this issue after I realized that.

[2011-11-11 21:58] ahmadnassri opened #54 "rename repo to "restconsole" instead of "rest-console""
just for the heck of it.

[2011-11-14 20:12] dkotvan commented on #17
Sorry, I don't know a service to test.
But I wrote a simple example of a digest server in ruby using rack.
- Install ruby and rack (if you don't is easy to find tutorials in web)
- Create a file with the contents below and save as config.ru
- Run rackup at command line

[code]

[2011-11-14 22:35] ahmadnassri commented on #17
thank you! this is exactly what I needed.

[2011-11-15 09:46] eliteg opened #55 "Response Content-Type: application/octet-stream"
The ability to download file is missing.

[2011-11-15 14:37] ahmadnassri commented on #55
not sure what you mean by that exactly? you want to be able to make API calls and get the result as a file?

[2011-11-15 18:46] eliteg commented on #55
Yes, I do. The return result from the API is octet-stream.

Thanks,

Elite

On 15 בנוב 2011, at 16:37, Ahmad Nassrireply@reply.github.com wrote:

[2011-11-21 12:53] mpcabd opened #56 "Chrome sends cookie with requests"
Chrome sends the cookies set by the website with the requests you make using REST Console, for example if you are logged in to example.com and you try to make some requests to its RESTful API using REST Console, chrome will send the cookie set by example.com with each request.

[2011-11-21 19:14] ahmadnassri commented on #56
There is no way to manipulate cookies in Chrome on an XMLHttpRequest yet ... perhaps there is something that can be done in their "native client" SDK ... but I cant see anything yet.

on a separate note, I think we're related :)

[2011-11-22 20:11] elg0nz opened #57 "Application hangs when server errors occur (50X error)."
# Steps to reproduce:

Create a server that throws some kind of exception (I replicated this using the following command in a *nix box):
    $python -m SimpleHTTPServer

Then create a request the server cannot handle:
    POST to http://127.0.0.1:8000/#${/
# Issue Experienced:

The app hangs. The hang is incremented as the error message in the server grows.
(A 500kb error message hangs my app for

[2011-11-23 17:31] ahmadnassri commented on #57
hmm, thanks, I'll look into it ...
wondering if it's something to do with with the response body or the headers ...

[2011-11-28 15:51] evertharmeling commented on #38
Somewhat related to this issue, it would be neat if you could add a 'clear up'  / 'delete' button for the the attachment(s), so you don't have to refresh the REST Console to be able to do another request which does not involve the attachment(s).

Also 2 minor related typo issues:
- "Attachements" should be "Attachments"
- "Choose one or more files to upload. By default, file names will be used as

[2011-11-28 18:03] ahmadnassri commented on #38
@evertharmeling agreed, should be able to remove the attachments just like the body parameters

and I'll fix the typos as well :)

[2011-11-29 20:43] intel352 commented on #49
agreed with both of you, tabbing between fields & sections is preferred. Additionally, collapsing unused sections would be nice (at least with a manual toggle collapse).

[2011-11-29 20:46] intel352 opened #58 "Chrome getBackgroundPage only works for ext"
Getting an error from the rest console app in Chrome 16.0.912.xxx BETA.
When I open the app, or attempt a request, it tosses up a red bubble error at the top of the app that reports getBackgroundPage only works from an ext process. Hard to catch the exact error, as it displays the error in the red box, but immediately rolls the error due to length (the last character of error message is "g", which

[2011-11-29 21:03] ahmadnassri commented on #58
interesting, I've gotten that a couple of times but I wasn't able to determine what was the cause, thanks for the details, I will fix ASAP.

[2011-12-05 13:08] beleta opened #59 "Fields not writable"
Now last version does not allow me to enter values in the fields that have a checked checkbox before them. I am using Chrome version 17.0.942.0 dev-m. Perhaps a Chrome problem?

[2011-12-11 17:34] ahmadnassri commented on #59
sounds like it ... I'll investigate.

[2011-12-16 18:08] jimschubert opened #60 "Chrome webstore #resources: links are hyphenated"
For example:

 ## Resources
- Follow us on Twitter: http://twitter.com/restconsole
- Get the source code: https://github.com/codeinchaos/rest-console
- Report issues: https://github.com/codeinchaos/rest-console/issues
- Donate: https://flattr.com/thing/156628/REST-Console

The github repo is `restconsole`, not `rest-console`. It must have been changed and not updated!

This affects the text in the

[2011-12-16 18:44] ahmadnassri commented on #60
thanks, I renamed the repo just a couple of days ago and had not had the chance to update the links everywhere ...

[2012-01-12 21:58] nickdaugherty opened #61 "Request Payload's 'Add' Field is sent to server"
When submitting requests, if there is any value inside the 'Request Payload' field for adding new fields (the disabled one), it gets sent to the server. I don't know how a value got in there (I think it's related to saving defaults and then coming back later), but it's in there and I can't remove it. If I inspect the element, the value isn't set, however it appears in the UI and gets sent to serve

[2012-01-12 23:51] ahmadnassri commented on #61
yep, that's no good, I think I came across that and fixed it in the development branch, I'm a few days away from releasing the new version which will include this fix.

cheers.

[2012-01-13 19:23] nickdaugherty commented on #61
Great, looking forward to it. I use restconsole on a daily basis, it is outstanding.

[2012-01-26 13:14] dokipen commented on #53
I'm wondering why this is configurable. The RFC clearly states that it should be a comma separator. At the very least it should be set to comma by default. It would have saved me some trouble. :D

http://oauth.net/core/1.0/#auth_header

[2012-01-26 16:48] ahmadnassri commented on #53
@dokipen you are correct, the library I initially used for the JavaScript OAuth had space separators by default, and the OAuth server I tested with accepted that with no issues ...

the next release (soon) has a new OAuth library that is up to date with the spec.

[2012-01-27 14:58] dokipen opened #64 "OAuth base string is wrong"
In SimpleOAuth, when the basestring is created, the URL query string is included in the URI. The spec clearly states the the query string should be omitted from the URI part of the base string. I started down the path to fix this bug, but the SimpleOAuth code is not pretty. You might try trimming the querystring off of the URL before passing it to SimpleOAuth and using the 'parameters' parameter i

[2012-01-27 15:03] ahmadnassri commented on #64
I'm completely dumping SimpleOAuth in favor of this one: http://code.google.com/p/oauth/
SimpleOAuth caused more problems than it helped solve, including the header separator issue.

next release is around the corner, which has the new library and many more improvements.

[2012-01-27 15:07] dokipen commented on #64
awesome! I'm glad I didn't spend time fixing it!

[2012-01-27 15:08] ahmadnassri commented on #64
yeah, I'm aiming to release end of the month, in the meantime, you're welcome to play with the "dev" branch, just be warned its changing by the hour.

[2012-01-31 19:14] nickdaugherty opened #65 "Github links in footer are 404"
The github links for Source Code and Issues in the REST Console's are 404, the correct links don't have a dash in the word 'rest-console'

[2012-01-31 19:16] nickdaugherty opened #66 "Cannot send array parameters"
When setting request parameters, the system uses only the last defined value for a given parameter. IE, if you have two parameters named 'user_id', only the last one is sent. This makes sense under normal use, but fails when attempting to send arrays.

So this fails (but are valid http request params):

[code]

[2012-02-24 09:51] bobmoff commented on #50
+1 for Saved Requests.

[2012-04-06 11:01] mharisce opened #67 "Add Multiple Requests Saving Feature"
Add Multiple Requests Saving Feature so that people could save multiple configurations and could send requests easily.

A Feature Request
#50 is the same thing i guess.

[2012-05-04 08:29] hsablonniere opened #69 "Basic auth is not supposed to accept colon ":" in username"
I'm not sure of that but it seems that colon character can't be part of a username...

http://www.ietf.org/rfc/rfc2617.txt

[2012-05-04 11:44] onglipo opened #70 "Will be nice to have a simple user guide"
I am struggling to figure out how to post some xml to a url. Where do you put the post data? I tried the Raw Payload field. Did not work.

[2012-05-04 13:28] ahmadnassri commented on #69
Good catch, I didn't do much validation in version, will add to the next.

[2012-05-04 18:54] ahmadnassri commented on #70
I can see where it can be confusing ... the next version (work in progress) has an enhanced interface so it should make things a "little bit" clearer ... but a simple user guide is certainly something I should look into ...

[2012-05-10 11:08] hades200082 opened #71 "Error box appears on load"
When first loading the app a red error box appears at the top with the character "g" in it.

Just a minor annoyance.

[2012-05-17 17:48] kmayoral commented on #71
+1 I always get this as well.

[2012-05-18 06:12] sg3s commented on #54
Then do not forget to change the links in the bottom of the app (source code, issues), just for the heck of it.

Now it may be because I have an outdated version ( 4.0.2 ) but don't forget that other people will have the same issue if they don't update :)

[2012-05-18 06:25] sg3s opened #73 "Header Accept-Language is sent even though it is not defined."
Recently we had a problem with a website that was giving fatal errors because it was depending on Accept-Language being set. Reproducing it was easy by doing a request with just the Host and HTTP version definition.

We already knew the problem (luckily, or this might have taken us a bit longer) but we couldn't reproduce the result with the Rest console. Opening Wireshark to capture the real reque

[2012-05-18 19:27] RyanMcG opened #74 "Update links to this repository in README and the application"
The links to this repository in the readme all end with rest-console instead of restconsole. Also in the appliation the link at the bottom of the page called "Source Code" is to https://github.com/codeinchaos/rest-console, not https://github.com/codeinchaos/restconsole.

[2012-06-20 02:51] danolsen commented on #50
Is the feature going to be added? This feature would be very useful.

[2012-06-20 17:35] ahmadnassri commented on #50
yes, its in the works :)

[2012-06-26 14:19] gudoy commented on #66
It seems to work when using explicit indexes:
user_ids[0] = 1
user_ids[1] = 39
user_ids[2] = 61
But it would be nice not having to rely and just use the '[]' syntax

[2012-07-09 17:30] JessieAMorris commented on #16
Awesome, thanks for looking into that. It's a shame that the Cookie is forbidden in the specs.

[2012-07-09 17:30] #16 closed, assigned to ahmadnassri

[2012-08-16 12:21] secooper opened #75 "Auth 2.0 client credentials flow"
I am having a problem accessing one of my REST resources which is
protected using OAuth 2.0's client credentials flow (which is similar
to OAuth 1.0's 2-legged flow).  REST Console is requiring an
Authorization URL which I believe is used for a classic 3-legged flow.

Using client credentials flow the client has a trust with the
authorization server which does not prompt the user to login using
th

[2012-08-24 22:17] BrannonKing opened #76 "Feature Request: Preview SVG"
I'd like to request a feature. I would like to be able to preview received SVG data (image/svg+xml) if the browser supports it. I'm willing to tackle the task myself if you could give me a few pointers on where to start. Thanks.

[2012-08-27 13:14] ahmadnassri commented on #76
@BrannonKing great idea ... I will add it in the next release ... I've already added some image preview logic in my experimental branch ...

the code base is currently a mess, I will be starting a cleaning up effort in the next week ...

[2012-08-29 16:08] ahmadnassri commented on #75
the current version does not support oAuth 2.0 authentication flow, though it can still make calls if you manually input keys and tokens.

full oAuth 2.0 flow will be supported in the next release.

[2012-10-04 03:15] JamesMcParlane opened #77 "Feature Request: Auto Configuration Of Target(s)"
Love your work.

It would be great if we could point restconsole at some kind of WSDL or other service description and have it load config for all the endpoints automatically.

Cheers
Thanks.

[2012-10-10 10:36] yyfearth opened #78 "Why this app need a background page?"
I have a question about the reason why this app need a background page that run all the time.

[2012-10-10 10:44] yyfearth opened #79 "The version of manifest.json should be upgrade to v2"
The manifest.json in the restconsole is v1 which was deprecated in Chrome 18.
It has to be upgraded in order to publish to the store.

And it is also prevent me to load this app from dir in dev mod when I want to folk it and make some change in local.

http://developer.chrome.com/extensions/manifestVersion.html

[2012-10-10 10:50] yyfearth opened #80 "The Source Code | Issue links in the bottom of the app are wrong"
The Source Code and Issue links in the bottom of the app are link to
`https://github.com/codeinchaos/rest-console` which should be `https://github.com/codeinchaos/restconsole`

[2012-10-14 21:11] alexeygolikov commented on #31
It could be very usefull for debugging purposes without retyping every data from request, since chrome allows to save browser request into HAR.
Wating for this feature.

[2012-10-16 10:42] SpOOnman opened #81 "POST parameters are not send if body is null"
POST parameters are not send if body is null. They are send when you put anything to body.

[2012-10-19 19:36] wjaspers opened #82 "Requests won't SEND unless the request METHOD is get, post, put, or delete"

[2012-10-19 19:50] ahmadnassri commented on #82
well that's no good ... the whole point of me building this thing so it can work those boundaries ...
I will look into it, i really hope Chrome didn't just add a restriction on this ... it would be terrible.

can you please give me more details? perhaps the console log and request archive?

[2012-10-20 15:50] wjaspers commented on #82
I was playing with TRACE and OPTIONS, but it is possible the client I was targeting at the time didn't support these methods.

I tried this again at home (instead of on my development machine at work) and it seems to be ok.

It might be a problem with Chrome in Linux (v20.0.1xxx)

[2012-10-20 15:52] ahmadnassri commented on #82
Good to know, where you using "Google Chrome", or "Chromium"?

Also flavor and version of Linux might be helpful.

Thanks!

[2012-10-20 20:15] wjaspers commented on #82
Chromium on Xubuntu 11.04

[2012-10-23 02:14] kimdwkimdw commented on #2
please... +1

[2012-10-23 04:48] j4rami commented on #2
+1 ^^

[2012-10-25 22:32] thynctank opened #83 "Server with Unsigned Cert causes REST Console to report "connection failed""
Would love if Rest Console at least reported an unsigned certificate warning, etc. Would love MORE if I could optionally force the request to go through, ignoring the cert problem.

[2012-10-25 22:38] ahmadnassri commented on #83
hmm, sounds like a chrome protocol thing, will investigate if i can get around it!

[2012-10-25 23:44] thynctank commented on #83
Thanks! I'm happy to help test (or contribute, but I've never worked on a Chrome extension before...)

[2012-10-25 23:47] ahmadnassri commented on #83
Thanks! I will take you up on that offer, new version is in the works and a
lot of testing is required!

Can u please send me your email to ahmad [at] codeinchaos.com so I can send
you further details when ready.

[2012-10-26 16:41] wjaspers opened #84 "Expect header is marked as unsafe?"
Why can't I send the Expect header?
I can't find any documentation which suggests that it is not permitted or shouldn't be used.

POSTMAN (a similar chrome extension) permits it.

[2012-10-26 18:17] ahmadnassri commented on #84
There is no reason why you can't do that? I use it all the time!

Was there any specific error message you are getting when trying to set the
header?

[2012-10-27 21:52] wjaspers commented on #84
The popup error I get is: "Unsafe header. Refused to set unsafe header "Expect"".

[2012-10-28 16:21] ahmadnassri commented on #84
hmmm, will look into that.

[2012-11-05 21:07] gregmac commented on #80
Was fixed in fe7ebac

[2012-11-05 21:10] gregmac commented on #48
How about just have it remember how it was last set, and use that? By default have them closed, as it's more approachable for new users, and if someone ends up opening them all, they'll stay opened.

[2012-11-05 21:11] gregmac commented on #65
#80 is a dupe, and this was fixed in fe7ebac

[2012-11-19 07:29] anildigital commented on #77
+1

[2013-01-07 08:47] c089 commented on #50
Along with this feature, might I suggest that in addition to "saving" (i.e. to a file), you could have an export (maybe serialize to a JSON string) so a request could be easily shared with others?

[2013-02-04 19:31] ShawnTuatara opened #85 "Attachment Functionality needs some love"
The attachments section needs to allow for individual file specification. Right now there is no way to upload multiple files each with their own custom name. My attempt at that given the features on the tool are to select 3 files in the file open dialog. Then on the "parameters key" section to specify "file1, file2, file3" but then looking at the request payload I see that each file got the name o

[2013-02-04 19:32] ShawnTuatara opened #86 "Footer links in tool give 404"
The "Source Code" and "Issues" link on the footer have https://github.com/codeinchaos/rest-console but the project is actually without the hyphen in the middle.

[2013-02-04 20:13] ahmadnassri commented on #86
@ShawnTuatara new version in the works (a bit of a rewrite) will take care of this.

thanks!

[2013-02-04 20:15] ahmadnassri commented on #85
@ShawnTuatara you are correct, this was ignored when I first built the feature, as it wasn't something a lot of people used... but it is needed, and will be added to the next release.

[2013-02-19 09:23] jmerhar opened #87 "Vendor media types not recognised"
Vendor media types (http://tools.ietf.org/html/rfc4288#section-3.2) are the preferred method for REST API versioning according to many sources. However, when a service specifies a vendor media type in the Content-Type header, the Rest Console doesn't recognise it and doesn't parse the response accordingly.

Examples:
1. Should be parsed as JSON: application/vnd.company.app1-v100+json
2. Should be

[2013-02-19 16:43] ahmadnassri commented on #87
ah, that's a very good feature ... will certainly add that next!

[2013-02-19 18:38] jmerhar commented on #87
Thanks, looking forward to it. And thanks for a great tool, it's invaluable for testing REST APIs.

[2013-02-21 09:25] jmerhar commented on #87
I've noticed another very strange, seemingly related bug:
1. I make a POST request with Content-Type "application/x-www-form-urlencoded" and Accept set to a vendor media type.
2. The request executes fine and the server returns a response with Content-Type set to the same vendor media type.
3. I then press "Send" again, with exactly the same settings, and the Content-Type header is no longer sent

[2013-02-21 16:00] ahmadnassri commented on #87
interesting ... I see no reason for that behaviour, none that would be related to the response content type ... can you please open a separate ticket for this (easier to track)

I know I keep sounding like a broken record, but new version is coming soon, its a complete rewrite adding many many many new features and allowing for better debugging of issues like these!

[2013-02-21 17:12] jmerhar opened #88 "Content-Type request header not sent"
I noticed a very strange bug:
1. I make a POST request with Content-Type "application/x-www-form-urlencoded" and Accept set to a vendor media type.
2. The request executes fine and the server returns a response with Content-Type set to the same vendor media type.
3. I then press "Send" again, with exactly the same settings, and the Content-Type header is no longer sent with the request.
4. This ha

[2013-02-21 17:13] jmerhar commented on #87
OK, I opened a new ticket. It seemed somehow related to this one, but it could also be completely unrelated.

[2013-02-27 18:25] barkhakeni opened #89 "REST console help"
I am using REST console to test some of our REST webservices and wanted your help on how to use REST console. We have created POST call which accepts multipart/form-data. Do you know how to construct a multipart body in REST console? I tried to add attachments and data in RAW payload section but that didnt work. I could not see any payload in multipart object. I did set the content type to multipa

[2013-02-27 19:06] ahmadnassri commented on #89
can you provide some examples of the request you are sending, perhaps the HAR extract?

[2013-02-27 19:35] barkhakeni commented on #89
Thanks for your reply. I have extracted the request i created from rest
client. I am not able to attached with the email So i have copied the
contents below. While constructing multipart body, rest client adds the
boundary itself. I dont see that happening in REST console.

<?xml version="1.0" encoding="UTF-8"?>
<rest-client
version="3.1"><request><http-version>1.1</http-version><http-follow-redir

[2013-03-26 16:30] jdxpointe1 opened #90 "Problem with signature generated for SHA1"
When setting the Oauth authentication header values the HMAC-SHA1 signature generated is not matching. We have tried verifying against all available sources for generating SHA1 signatures and the Rest Console is not matching any of them but all the other sources do match each other and the servers signature generated through HMAC-SHA1 to verify.

[2013-03-26 17:10] danaic opened #91 "How can I send a newline in a Request Payload?"
How can I send a newline in Request Payload (in either RAW Body, or Request Parameters)?  Is there some way to escape a binary/ASCII value, or some way to escape the \r and \n?

[2013-03-26 19:07] jdxpointe1 commented on #90
Correction: Checked the parameters processed and the signature produced by the server and found that Rest Console was correct and server parameters were processed incorrectly for producing the signature. The parameters being provided for the other sites to compare included the incorrect values as well which led to the inconsistency...

[2013-03-26 19:07] #90 closed, assigned to ahmadnassri

[2013-03-29 15:05] shveik commented on #88
my issue with content type is similar, it actually is set to application/xml if left blank

[2013-04-03 23:37] ahmadnassri commented on #88
both issues are certainly not the expected behaviour ... it may be related to new versions of Chrome ... currently investigating.

[2013-04-03 23:42] ahmadnassri commented on #90
awesome, glad to hear REST Console was correct... a tool I've always used in validating oAuth signature conflicts without fail: the Netflix Oauth Test: http://developer.netflix.com/resources/OAuthTest

I even used it when building REST Console ... the same libraries are built in and are what's used to generate the signatures

[2013-04-26 16:33] tbeets commented on #56
In some use cases it's desirable for Chrome to send such cookies.  For example, certain scenarios with enterprise web access management tools where an existing authenticated session is assumed to be in place (represented by such cookie).  Ideally, there would be a plugin option to send or not send.

[2013-07-02 14:03] atrauzzi opened #94 "Allow the header used for oauth to be specified"
When I'm accessing one of our internal sites that uses HTTP Basic Auth, the "Authorization" field is unfortunately reserved for that.

We've implemented a slightly non-standard check in our software to look at a couple of other headers for oauth data.  It would be nice if we could supply this alternate header in the oauth 1.0 dialogue.

[2013-07-02 14:04] atrauzzi opened #95 "Spelling error "Query sliing""
https://github.com/codeinchaos/restconsole/blob/production/application/index.html#L124

Should probably be "Query String".

[2013-07-09 12:27] gucki opened #96 "Feature Request: copy request from network viewer"
Right clicking on a request in chrome's network viewer already shows "Copy as cURL" and "Copy all as HAR". It'd be great to have a "Copy to REST Console" here.

[2013-07-19 19:33] Anaphase commented on #76
"the code base is currently a mess"

I guess you could say the code is....... IN CHAOS?!

[2013-07-31 07:41] jacroe opened #97 "POST parameters are not sent"
Whenever I try to POST something from the app, the data is never sent and I end up with a 0 Content-Length. This bug is not only affecting myself, but others have left reviews on the app in the [Chrome Web Store](https://chrome.google.com/webstore/detail/rest-console/cokgbflfommojglbmbpenpphppikmonn/reviews).

[2013-08-02 12:48] raknam opened #98 "OAuth2 & OAuth2 Implicit grant"
Can it be possible to manage an OAuth2.0 & OAuth 2.0 Implicit grant ?

OAuth2.0 RFC : http://tools.ietf.org/html/rfc6749
OAuth2.0 Implicit RFC : http://tools.ietf.org/html/rfc6749#section-1.3.2

[2013-08-08 14:29] eebbesen commented on #83
+1 for this change.  I'm using curl with the `-k` command to do local testing in this situation, but would prefer to use REST Console for it.

[2013-08-14 22:47] hoffmanc commented on #50
What's the status of this feature?

[2013-08-19 19:33] mauricioalarcon opened #99 "https support"
Is https supported? I'm trying to call some rest services using https but Rest Console show always "Connection failed".

The rest endpoint is up and uses a self signed certificate. Is this a limitation?

here is the stack trace, I can see that "b" var in app.js has the correct url but with the http instead of the https

"b.RESTRequest.Class.send request.js:152
b.extend.$owner mootools-core-1.4.0.j

[2013-10-10 06:27] bweston92 commented on #97
+1 This is still a problem.

[2013-11-06 15:12] rgksugan opened #100 "Dialog box not dismissed"
The dialog box which occurs in case of timed out error, doesn't disappear automatically when a new request is sent.

[2013-11-07 00:33] dobesv opened #101 "Cookies / Accept-Encoding not shown in Request Headers tab"
I'm pretty sure Chrome sends the cookies registered for a site along with each request.

However, it isn't evident which cookies it is sending by looking at the "Request Headers" tab what those cookies are.  It would be great to see them there, along with any other headers automatically added by the Browser such as Accept-Encoding.

[2013-11-07 04:39] mrud commented on #53
Would it be possible to change the default from space to comma?

[2014-02-10 20:11] xylo04 opened #102 ""Source Code" and "Issues" links are broken"
When looking at the app page, at the bottom are links to "Source Code" and "Issues". Those links point to "https://github.com/codeinchaos/rest-console" instead of "https://github.com/codeinchaos/restconsole".

[2014-02-10 20:18] xylo04 opened #103 "Repeated query parameters are not supported"
In some APIs, it's permissible to set query parameters multiple times, e.g. "?foo=bar&foo=baz". The server will typically parse this into a collection-type. However, in REST Console, under Body -> Request Payload -> Request Parameters, setting multiple query parameters with the same key results in only the last value being used.

This can be worked around by adding the query parameters in the Requ

[2014-04-04 15:03] bravadomizzou commented on #31
+1

[2014-04-16 13:40] AgDude opened #104 "Feature Request: Larger Preview Panel"
When debugging an api on a server which provides a pretty HTML debug output (Django for example), it is difficult to read in the current preview panel.

[2014-04-16 16:05] ryanhaugh opened #105 "Feature Request: Provide option to keep 'Send, Get, Post, etc' bar on the screen at all times"
While testing my web services I am clicking 'GET' very often. When the response exceeds a certain height, the 'Send, Get, Post, etc' bar goes off the page, meaning I have to scroll up to show it again so I can re-run my service.  It'd be great if this bar was always on the screen so I didn't have to scroll up all the time

[2014-04-19 17:23] ahmadnassri commented on #105
new version will have a brand new (and completely better) design that better fits higher screen resolutions as well as small ones. the bar behaviour you're describing will not be an issue any longer, however I'm keeping this ticket open to address any further concerns after the new version is launched.

[2014-04-19 17:24] ahmadnassri commented on #104
the new version has a completely re-designed layout that will better fit high resolution screens and small ones, as well as the ability to expand the preview panel...

[2014-04-23 15:27] bwestergard commented on #50
I too am interested in this. If no one has started, I might take a crack at it.

[2014-04-23 16:51] ahmadnassri commented on #50
this is already in the works on the development branch and near ready.

perhaps I'll spend some time this weekend listing all the remaining tasks/steps into issues on github so if anyone is able to pitch in they'd know what to tackle first ...

[2014-05-09 18:49] texdc commented on #97
:+1: both params and raw data are not included in the request

[2014-06-23 23:13] marktheunissen commented on #83
+1 would love this feature.

[2014-07-10 12:58] martinambrus opened #106 "All GitHub links at the bottom of app go to wrong repo"
Just as the title says :)

[2014-07-10 13:05] martinambrus commented on #50
:+1: I'm for saving, too - has this progressed in any way since April? Also, would it be able to save the RAW body at all? At the moment, it doesn't seem to work that way.

[2014-07-11 14:41] pv7721 commented on #99
I'm also interested in the answer to this one, I was going to use REST console in order to test a REST interface available in HTTPS only!

[2014-07-11 14:46] pv7721 commented on #106
Duplicated issue: https://github.com/codeinchaos/restconsole/issues/102

[2014-07-11 14:54] martinambrus commented on #106
Lolz, clicked the wrong button :)
Thanks for pointing that out.

[2014-07-11 14:58] pv7721 commented on #97
So is this still broken? Thanks!

[2014-07-11 15:04] pv7721 commented on #83
The issue still exists? Thanks!

[2014-07-11 15:08] pv7721 commented on #106
Actually, they seem to be like this for more than a year: https://github.com/codeinchaos/restconsole/issues/86

[2014-07-11 15:08] pv7721 commented on #102
Duplicated issue of https://github.com/codeinchaos/restconsole/issues/86

[2014-07-11 15:09] pv7721 commented on #86
The issue is still there!

[2014-07-11 15:11] pv7721 commented on #80
How come people still see it and keep reporting it over and over?!?

[2014-07-11 15:16] pv7721 opened #107 "Typo in Request Method name"
Currently it's CONNET, but I think it should be CONNECT.

[2014-07-11 17:16] ahmadnassri commented on #106
@pv7721 @martinambrus I'm in the middle of a re-write (development branch) and will be replacing this current branch in the next couple of weeks, addressing this issue.

[2014-07-11 17:17] ahmadnassri commented on #107
Fixed, in development branch.

[2014-07-11 17:17] #107 closed, assigned to nobody

[2014-07-11 17:18] ahmadnassri commented on #83
the development branch is now using web sockets, with a custom HTTP layer, so this should be feasible soon.

[2014-07-11 17:19] ahmadnassri commented on #76
@Anaphase ![isee](http://img2.wikia.nocookie.net/__cb20130925101955/powerlisting/images/a/a9/I-see-what-you-did-there.jpg)

[2014-07-11 17:45] ahmadnassri commented on #80
@pv7721 because a newer version was not released to the store yet.

[2014-07-11 18:45] ShawnTuatara commented on #86
I see this as resolved. If you go to: https://github.com/codeinchaos/restconsole it does show the correct links at the bottom. The link I provided above will always fail as it is a bad link.

[2014-07-11 18:45] #86 closed, assigned to ahmadnassri

[2014-09-05 22:40] andyN42 opened #108 "CONNECT HTTP Method spelled wrong"
index.html line 1504
            `<option value="CONNET">CONNET</option>`
should be
            `<option value="CONNECT">CONNECT</option>`

[2014-09-08 11:51] j0hnsmith opened #109 "Install without google login"
Google Chrome Web Store won't let me install this extension without first logging in with a google account, this is entirely unnecessary as none of the functionality it provides requires a google account.

Can you provide a direct link to a file that can be opened by my browser?

[2014-10-09 09:50] brianlmerritt commented on #97
I am setting Post request method, content type application/json, inserting json into Payload, set as utf-8 encoding, and authentication (basic) is working fine.  However, the curl request is still not formatting properly (should be equivalent of curl -d '{"json":"request"} ')

Am I missing a tick box or something?

[2014-11-25 10:57] indivisible-irl opened #110 "Remember and offer selection of multiple OAuth configurations"
Working on multiple APIs and testing with multiple Users is currently a headache of copy/paste into the OAuth settings which currently only allows for saving just one config.

I'd love to have the ability to save frequently used OAuth configurations and select which of those saved configs I'd like to use with the current request through some sort of drop down list.

[2015-01-03 21:38] mohamed-ennahdi commented on #97
When parameters are put in the URL using the method GET, it works fine. But when using payload with method POST, parameters are not sent.

[2015-01-09 15:28] ghusta opened #111 "Incorrect label for "Request Headers" in Custom Headers"
In the "Body" section, the label under **"Custom Headers"** is "Request Parameters".

It should be **"Request Headers"**.
The comment in gray under the inputs is incorrect also.

Thanks

[2015-03-03 16:49] borzoj opened #112 "Wrong OAuth signatures"
Can't authenticate with OAuth becuase signature is incorrect. I used this:
http://oauth.googlecode.com/svn/code/javascript/example/signature.html
to get correct signastures that I can authenticate with.

[2015-12-07 22:46] JamesAtSunGard opened #113 "Proxy support"
Does the Console leverage the existing browser/system proxy setup?   We're troubleshooting an issue where it looks like the proxy is being bypassed when it shouldn't.

[2015-12-08 14:48] ahmadnassri commented on #113
yes, it uses the chrome/system configuration for networking.

[2016-11-07 01:50] #60 closed, assigned to ahmadnassri

[2018-06-11 14:43] #64 closed, assigned to ahmadnassri